.sidebar {
    height: 100vh;
    background-color:#0C090A;
    color: white;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.panel {
    padding: 20px;
    margin: 10px 0;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #fff;
    cursor: pointer;
    color: #000;
    border-radius: 25px;
}

.nav-link {
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

#username{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;    
}

#username-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;

}

#username-container span {
    margin-top: -15px;
    margin-right: -10px;
}

.logout a{
    display: flex;    
    align-items: center;
    position: absolute;
    bottom: 10px; 
}

